<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.hs.logviewer.gui.view.LogViewer"
            id="org.hs.logviewer.gui.view.LogViewer"
            name="Log Viewer"
            restorable="true">
      </view>
   </extension>

</plugin>
